#include "dac_man_5x6.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro_d 9 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 4 GPIO_ACTIVE_HIGH>
        ;
};

&i2c0 {
    status = "okay";
    clock-frequency = <400000>;

    touchpad: iqs5xx_manus@74 {
        compatible = "azoteq,iqs-manus";
        reg = <0x74>;
        irq-gpios = <&pro_micro_d 2 GPIO_ACTIVE_HIGH>;
        status = "okay";
        // Optional orientation properties:
        // flip-x;
        // flip-y;
        // switch-xy;
    };
};
