#include "dac_man_5x6.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro_d 9 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 5 GPIO_ACTIVE_HIGH>
	, <&pro_micro_d 4 GPIO_ACTIVE_HIGH>
        ;
};

/* Add this to your existing .overlay file */
&i2c0 {
    // Assuming you use the primary I2C bus on nice!nano v2
    status = "okay";

    // Make sure SCL/SDA pins are correctly set for nice!nano v2 if not default
    // pinctrl-0 = <&i2c0_default>;
    // pinctrl-names = "default";

    touchpad: iqs550@74 {
    // Node label 'touchpad' and address 0x74
        compatible = "azoteq,iqs550";
        reg = <0x74>; // I2C address
    // *** CHANGE 8 to your RDY pin number ***
        irq-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
    // Optional, if you connected the reset pin:
    // *** CHANGE 7 to your RST pin number ***
        reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        // Optional orientation properties:
        // flip-x;
        // flip-y;
        // switch-xy;
    };
};
