#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  BSPC   |
            // |   TAB   |    Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |  LALT   |    A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  LCTRL  |    Z    |    X    |    C    |    V    |    B    |                   |    N    |    M    |    ,    |    .    |    /    |  RALT   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | MO lay 1| SPACE   |                   | ENTER   | MO lay 2|
            //                                         |   TAB   |   HOME  |   END   |   DEL   |
            //                                         |  Raise  |    ~    |   GUI   |  Lower  |

            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3  &kp N4     &kp N5  &trans                                      &kp N6  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp Q
&kp TAB    &kp Q     &kp W     &kp F   &kp P      &kp B   &trans                                      &kp J   &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &kp BSLH
&kp LCTRL  &kp A     &kp S     &kp R   &kp T      &kp G   &trans  &kp N1  &kp N2      &kp N2  &kp N1  &kp C   &kp M   &kp N   &kp E      &kp I    &kp O     &kp DOT
&kp LSHFT  &kp Z     &kp X     &kp C   &kp D      &kp V                   &kp N3      &kp N3                  &kp K   &kp H   &kp COMMA  &kp DOT  &kp DOT   &kp RSHFT
&trans     &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT          &kp N6  &kp N5  &kp N4
            >;
        };
    };
};
