#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  BSPC   |
            // |   TAB   |    Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |  LALT   |    A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  LCTRL  |    Z    |    X    |    C    |    V    |    B    |                   |    N    |    M    |    ,    |    .    |    /    |  RALT   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | MO lay 1| SPACE   |                   | ENTER   | MO lay 2|
            //                                         |   TAB   |   HOME  |   END   |   DEL   |
            //                                         |  Raise  |    ~    |   GUI   |  Lower  |

            bindings = <
&kp TILDE  &kp N1     &kp N2     &kp N3    &kp N4    &kp N5  &kp N6     &kp N7       &kp N8         &kp N9    &kp N0     &kp HOME
&kp TAB    &kp Q      &kp W      &kp E     &kp R     &kp T   &kp Y      &kp U        &kp I          &kp O     &kp P      &kp BSLH
&kp LCTRL  &kp A      &kp S      &kp D     &kp F     &kp G   &kp H      &kp J        &kp K          &kp L     &kp SEMI   &kp APOS
&kp LSHFT  &kp Z      &kp X      &kp C     &kp V     &kp B   &kp N      &kp M        &kp COMMA      &kp DOT   &kp FSLH   &kp RSHFT
           &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT                     &kp LEFT     &kp DOWN       &kp UP    &kp RIGHT
&kp BSPC   &kp LCTRL  &kp LALT   &kp LGUI  &kp DEL   &kp N1  &kp RCTRL  &kp PAGE_UP  &kp PAGE_DOWN  &kp RALT  &kp RET    &kp SPACE
            >;
        };
    };
};
