# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

config IQS550
	bool "Azoteq IQS550 Touchpad Driver"
	default n
	depends on DT_HAS_AZOTEQ_IQS550_ENABLED
	select INPUT
	select I2C
	select GPIO
	select SENSOR
	help
	  Enable the driver for the Azoteq IQS550 touchpad sensor.
	  This sensor provides XY coordinates and touch status via I2C.

if IQS550

config IQS550_INIT_PRIORITY
	int "Init priority"
	default 75
	help
	  Device driver initialization priority.

module = IQS550
module-str = iqs550
source "subsys/logging/Kconfig.template.log_config"

endif # IQS550
